bin/cmdline-example1
bin/cmdline-unit-tests
bin/logging-example1
bin/logging-unit-tests
bin/utilities-unit-tests
bin/xml-example1
bin/xml-unit-tests
bin/**
*.pro.*
common/examples/fsm-example1/x86/fsm-example1
common/examples/fsm-example2/x86/fsm-example2
common/examples/message-example1/x86/message-example1
common/examples/message-example2/x86/message-example2
common/examples/message-example3-blocking/x86/message-example3-blocking
common/examples/message-example4-timer/x86/message-example4-timer
common/unit-tests/commit/x86/common-unit-tests
control-engine/unit-tests/commit/x86/control-engine-unit-tests
gui/application/main/x86/gui-main
gui/common/examples/gui-example1/x86/gui-example1
gui/fsm/examples/gui-qt-fsm-example1/x86/gui-qt-fsm-example1
gui/logger/examples/gui-qt-loggergui-example1/x86/gui-qt-loggergui-example1
gui/sensors/examples/gui-sensors-example1/x86/gui-sensors-example1
gui/alarm/examples/gui-alarm-example1/x86/gui-alarm-example1
gui/video/examples/gstreamer-example1/x86/gstreamer-example1
kf-main/unit-tests/commit/x86/kf-main-unit-tests
*.pro~
*.qml~
*.qrc~
*.h~
*.hpp~
*.c~
*.cpp~
#**/*moc.cpp*
#**/*moc*
!/gui/generate_moc.bat
gui/video/examples/qml-example1/x86/qml-example1
com/examples/tcp-example1/x86/tcp-example1
com/tcp-client/x86/tcp-client
com/tcp-server/x86/tcp-server
com/examples/tcp-example1/x86/tcp-example1
gui/video/examples/c-ring/x86/c-ring
protocol/unit-tests/commit/x86/protocol-unit-tests
gui/resources/gui-qt.rcc
gui/video/examples/qml-example1/qrc_main.cpp
gui/sensors-qml/examples/qml-example2/x86/qml-example2
*.qmlc
gui/video/c-ring-widget/x86/c-ring2
gui/video/c-ring-widget/x86/gui-c-ring-example
api/api-c-ring/examples/api-c-ring-example1/x86/api-c-ring-example1
api/api-c-ring/unit-tests/commit/x86/api-c-ring-unit-tests
intercom/unit-tests/commit/x86/intercom-unit-tests
protocol/examples/protocol-example1/x86/protocol-example1
api/api-c-ring/x86/libapi-c-ring.so
api/api-fsm/x86/libapi-fsm.so
api/api-logmaster/x86/libapi-logmaster.so
api/api-sensors/x86/libapi-sensors.so
common/x86/libcommon.so
control-engine/x86/libcontrol-engine.so
gtest-linux/x86/libgtest.so
gui/alarm/x86/libgui-alarm.so
gui/common/x86/libgui-common.so
gui/fsm/x86/libgui-fsm.so
gui/logger/x86/libgui-logger.so
gui/logmaster/x86/libgui-logmaster.so
gui/sensors-qml/x86/libgui-sensors-qml.so
gui/sensors/x86/libgui-sensors.so
gui/settings/x86/libgui-settings.so
intercom/x86/libintercom.so
kf-main/x86/libkf-main.so
protocol/x86/libprotocol.so
support-modules/cmdline/x86/libcmdline.so
support-modules/logging/x86/liblogmaster.so
support-modules/testlib/x86/libtestlib.so
support-modules/utilities/x86/libutilities.so
support-modules/xml/x86/libxml-embc.so
tcp/x86/libtcp.so
kf-commands/x86/libkf-commands.so
protocol/kf-client/x86/kf-client
protocol/kf-server/x86/kf-server
gui/resources/gui-qt.rcc
gui/sensors-qml/qrc_main.cpp
support-modules/utilities/x86/GDataTypes.d.*
gui/resources/gui-qt.rcc
gui/sensors-qml/qrc_main.cpp
protocol/kf-client-udp/x86/kf-client-udp
protocol/kf-server-udp/x86/kf-server-udp
gui/c-ring-widget/x86/gui-c-ring-example1
gui/c-ring/examples/c-ring-example1/x86/c-ring-example1
gui/c-ring/gui-c-ring.pro
gui/c-ring/x86/libc-ring.so
gui/c-ring-operations/x86/c-ring-operations1
gui/logger/examples/gui-loggergui-example1/x86/gui-loggergui-example1
protocol/kf-client-tcp/x86/kf-client-tcp
protocol/kf-server-tcp/x86/kf-server-tcp
com/x86/libcom.so
api/api-fsm/unit-tests/commit/x86/api-fsm-unit-tests
configuration/unit-tests/commit/x86/control-engine-unit-tests
configuration/x86/libconfiguration.so
configuration/unit-tests/commit/x86/configuration-unit-tests
gui/operations/examples/operations-example1/x86/gui-operations-example1
gui/operations/x86/c-ring-operations1
gui/operations/x86/libgui-operations.so
api/api-hmi/examples/api-hmi-c-ring-example1/x86/api-hmi-c-ring-example1
api/api-hmi/x86/libapi-hmi.so
api/api-hmi/unit-tests/commit/x86/api-hmi-unit-tests
sequence/unit-tests/commit/x86/sequence-unit-tests
sequence/x86/libsequence.so
sequence/examples/sequence-example1/x86/sequence-example1
protocol/kf-wf121-tcpapplication/x86/kf-wf121-tcpapplication
support-modules/xml/xml-validator/x86/xml-validator
protocol/kf-sem-listener/x86/kf-sem-listener
protocol/kf-server/x86/kf-server-udp
protocol/kf-simulator/x86/kf-simulator
kf-com/kf-server/x86/kf-server-udp
kf-com/x86/libkf-com.so
com/unit-tests/commit/x86/com-unit-tests
kf-com/kf-client/x86/kf-client
kf-com/kf-sem-listener/x86/kf-sem-listener
kf-com/kf-server/x86/kf-server
kf-com/kf-simulator/x86/kf-simulator
kf-com/kf-wf121-tcpapplication/x86/kf-wf121-tcpapplication
gui/habitat/examples/gui-habitat-example1/x86/gui-habitat-example1
gui/habitat/x86/libhabitat.so